<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Easy Doctor Appointment</a>
    </div>
  </div>
</nav>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  .custom_banner {
      height:400px !important;
      width: auto;
  }

  .custom_doctor_img {
      height:200px;
      width: auto;
  }

  .custom_column_center {
      height: 200px;
      display: grid;
      align-content: center;
      align-items: center;
  }

  .custom_row {
    border: 2px solid dimgray;
    border-radius: 25px;
    margin-bottom: 15px;
    padding: 10px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  </style>